<link rel="stylesheet" href="{{ 'card-item.css' | asset_url }}">
<style>
    .treatments h1 {
        margin-bottom: 32px;
    }
    .treatments__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        gap: 24px;
    }
    .treatments__title {
        font-family: Proxima Nova;
        font-size:var(--font-size-52);
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        text-transform: uppercase;
    }
    .treatments__label {
        font-family: Raleway;
        font-size:var(--font-size-24);
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.48px;
    }

</style>
<div class="treatments container" style="margin-top: {{ section.settings.margin_top }}px">
    <h1 class="treatments__title">{{ section.settings.collection.title }}</h1>
    <h3 class="treatments__label">{{ section.settings.label }}</h3>
    <div class="treatments__wrapper">
        {% for item in section.settings.collection.products %}
            {% assign text =  item.metafields.custom.tretments_excerpt %}
            {% render 'card-item', url: item.url, img: item.images[0], title: item.title, text: text, btn_text: 'LEARN MORE' %}
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "Treatments",
        "settings": [
            {
                "type": "text",
                "id": "label",
                "label": "Label"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "margin_top",
                "label": "Margin top",
                "min": 0,
                "max": 120,
                "step": 2,
                "default": 0,
                "unit": "px"
            }
        ],
        "presets": [
            {
                "name": "Treatments"
            }
        ]
    }
{% endschema %}