@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Proxima Nova";
  src: url(https://cdn.shopify.com/s/files/1/0786/5296/5146/files/ProximaNova-Regular_6dabe642-d34b-4a98-b213-12da8a21c487.ttf?v=1694613283);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Proxima Nova;
}

p,
span,
a,
label,
input,
select,
textarea,
option {
  font-family: Raleway;
}
/* 
:root {
  --font-size-82: clamp(36px, 4.271vw, 82px);
  --font-size-72: clamp(30px, 3.75vw, 72px);
  --font-size-62: clamp(28px, 3.229vw, 62px);
  --font-size-52: clamp(25px, 2.708vw, 52px);
  --font-size-44: clamp(22px, 2.292vw, 44px);
  --font-size-42: clamp(22px, 2.188vw, 42px);
  --font-size-36: clamp(20px, 1.875vw, 36px);
  --font-size-34: clamp(22px, 1.771vw, 34px);
  --font-size-32: clamp(22px, 1.667vw, 32px);
  --font-size-30: clamp(22px, 1.563vw, 30px);
  --font-size-28: clamp(22px, 1.458vw, 28px);
  --font-size-26: clamp(20px, 1.354vw, 26px);
  --font-size-24: clamp(18px, 1.25vw, 24px);
  --font-size-23: clamp(18px, 1.198vw, 23px);
  --font-size-22: clamp(18px, 1.146vw, 22px);
  --font-size-20: clamp(18px, 1.042vw, 20px);
  --font-size-18: clamp(14px, 0.938vw, 18px);
  --font-size-16: clamp(14px, 0.833vw, 16px);
}

*/
:root {
  --font-size-82: clamp(36px, 3.177vw, 61px);
  --font-size-72: clamp(30px, 2.813vw, 54px);
  --font-size-62: clamp(28px, 2.396vw, 46px);
  --font-size-52: clamp(25px, 2.031vw, 39px);
  --font-size-44: clamp(22px, 1.719vw, 33px);
  --font-size-42: clamp(22px, 1.615vw, 31px);
  --font-size-36: clamp(20px, 1.406vw, 27px);
  --font-size-34: clamp(22px, 1.302vw, 25px);
  --font-size-32: clamp(22px, 1.25vw, 24px);
  --font-size-30: clamp(22px, 1.146vw, 22px); /*** 15 %**/
  --font-size-28: clamp(22px, 1.458vw, 28px);
  --font-size-26: clamp(20px, 1.354vw, 26px);
  --font-size-24: clamp(18px, 1.25vw, 24px);
  --font-size-23: clamp(18px, 1.198vw, 23px);
  --font-size-22: clamp(18px, 1.146vw, 22px);
  --font-size-20: clamp(18px, 1.042vw, 20px);
  --font-size-18: clamp(14px, 0.938vw, 18px);
  --font-size-16: clamp(14px, 0.833vw, 16px);
}

.element-animation {
  opacity: 0;
  transform: translateY(50px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(0%);
}
.section {
  margin: 0;
}
/*body::-webkit-scrollbar { width: 0; }*/
.template-index #main {
  margin-top: 0 !important;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(20px, 4.167vw, 80px);
}
.a-link {
  display: flex;
  align-items: center;
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #fefefe;
  transition: all 0.3s ease;
  width: max-content;
}
.a-link:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.a-link svg {
  margin-left: 10px;
}
.tret-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}
.tret-btns .a-btn {
  max-width: 301px;
  width: 100%;
}
@media (max-width: 500px) {
  .tret-btns .a-btn {
    max-width: 100%;
    width: 100%;
  }
}
.tret-btns .a-btn.prime {
  border: 1px solid var(--black, #080808);
  background: var(--black, #080808);
  color: #fff !important;
  transition: all 0.3s ease !important;
}
.tret-btns .a-btn.secondary {
  border: 1px solid var(--black, #080808) !important;
  background: transparent !important;
  color: #000 !important;
  transition: all 0.3s ease !important;
}

.tret-btns .a-btn.prime:hover {
  background: transparent !important;
  color: #000 !important;
  transition: all 0.3s ease !important;
}
.tret-btns .a-btn.secondary:hover {
  background: #000 !important;
  color: #fff !important;
  transition: all 0.3s ease !important;
}
.rich-text__inner{
  padding:50px 0 ;
}
.a-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: clamp(40px, 2.865vw, 55px) !important;
  padding: 0 clamp(20px, 3.125vw, 60px) !important;
  width: max-content;
  border-radius: 32px !important;

  font-family: Proxima Nova !important;
  font-size: var(--font-size-16) !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.64px !important;
  text-transform: uppercase !important;
  transition: all 0.3s ease !important;
}
.a-btn.prime {
  border: 1px solid #000 !important;
  color: #000 !important;
}
.a-btn.secondary {
  border: 1px solid #fefefe !important;
  color: #fff !important;
}
.a-btn.prime:hover {
  background: #080808 !important;
  color: #fff !important;
  transition: all 0.3s ease !important;
}
.a-btn.secondary:hover {
  background: #fff !important;
  color: #080808 !important;
  transition: all 0.3s ease !important;
}

.big-title h1,
.big-title h2 {
  color: #fff;
  font-family: Proxima Nova;
  font-size: var(--font-size-82);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}
.title h2 {
  font-family: Proxima Nova;
  font-size: var(--font-size-72);
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 79.2px */
  text-transform: capitalize;
}
.title-2 h2 {
  text-align: center;
  font-family: Proxima Nova;
  font-size: var(--font-size-52);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.title h4 {
  font-family: Proxima Nova;
  font-size: var(--font-size-26);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.26px;
  text-transform: uppercase;
}
.name {
  display: flex;
  justify-content: center;
}
.name span {
  font-family: Proxima Nova;
  font-size: var(--font-size-18);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.text p {
  color: #111;
  font-family: Raleway;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
.small-text p {
  font-family: Raleway;
  font-size: var(--font-size-20);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}
/**** announcement-bar ***/
.announcement-bar {
  overflow: hidden;
}
.announcement-bar__content span {
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.96px;
  text-transform: uppercase;
}
/*** end announcement-bar ***/
/*** header ***/

header {
  padding: 0 !important;
  background-color: #fff !important;
}
header .icon {
  color: #080808 !important;
}
.header__logo img {
  object-fit: contain;
}
.drawer-menu__close-icon svg path {
  stroke: #fff;
}
header .header__inner {
  padding: clamp(20px, 2.24vw, 43px) clamp(20px, 4.167vw, 80px)
    clamp(20px, 1.667vw, 32px) clamp(20px, 4.167vw, 80px);
  max-width: 1920px;
  margin: 0 auto;
}
.header__cart-count {
  background-color: #383838 !important;
  top: 8px !important;
  right: 8px !important;
  color: #fff;
}
.header__cart-count span {
  color: #fff;
  font-family: Proxima Nova;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px; /* 0% */
  letter-spacing: 0.28px;
}

[data-name="collection"] header,
[data-page="about"] header,
[data-page="about-dp-skin-health-collection"] header,
[data-page="about-dp-minerals-colletion"] header,
[data-page="about-dp-skin-science-collection"] header,
[data-page="about-founder-douglas-pereira"] header {
  background-color: #080808 !important;
}
[data-name="collection"] header svg path,
[data-page="about"] header svg path,
[data-page="about-dp-skin-health-collection"] header svg path,
[data-page="about-dp-minerals-colletion"] header svg path,
[data-page="about-dp-skin-science-collection"] header svg path,
[data-page="about-founder-douglas-pereira"] header svg path {
  stroke: #fff;
  fill: #fff;
}
[data-name="collection"] .header__icon-menu svg rect,
[data-page="about"] .header__icon-menu svg rect,
[data-page="about-dp-skin-health-collection"] .header__icon-menu svg rect,
[data-page="about-dp-minerals-colletion"] .header__icon-menu svg rect,
[data-page="about-dp-skin-science-collection"] .header__icon-menu svg rect,
[data-page="about-founder-douglas-pereira"] .header__icon-menu svg rect {
  fill: #fff;
}
[data-name="collection"] .header__logo-link .image__img,
[data-page="about"] .header__logo-link .image__img,
[data-page="about-dp-skin-health-collection"] .header__logo-link .image__img,
[data-page="about-dp-minerals-colletion"] .header__logo-link .image__img,
[data-page="about-dp-skin-science-collection"] .header__logo-link .image__img,
[data-page="about-founder-douglas-pereira"] .header__logo-link .image__img {
  filter: invert();
}
[data-name="collection"] .announcement-bar__item,
[data-name="collection"] .announcement-bar,
[data-name="collection"] .announcement-bar__gradient-gap,
[data-page="about"] .announcement-bar__item,
[data-page="about"] .announcement-bar,
[data-page="about"] .announcement-bar__gradient-gap,
[data-page="about-dp-skin-health-collection"] .announcement-bar__item,
[data-page="about-dp-skin-health-collection"] .announcement-bar,
[data-page="about-dp-skin-health-collection"] .announcement-bar__gradient-gap,
[data-page="about-dp-minerals-colletion"] .announcement-bar__item,
[data-page="about-dp-minerals-colletion"] .announcement-bar,
[data-page="about-dp-minerals-colletion"] .announcement-bar__gradient-gap,
[data-page="about-dp-skin-science-collection"] .announcement-bar__item,
[data-page="about-dp-skin-science-collection"] .announcement-bar,
[data-page="about-dp-skin-science-collection"] .announcement-bar__gradient-gap,
[data-page="about-founder-douglas-pereira"] .announcement-bar__item,
[data-page="about-founder-douglas-pereira"] .announcement-bar,
[data-page="about-founder-douglas-pereira"] .announcement-bar__gradient-gap {
  background: #d9d9d9;
}
[data-name="collection"] .announcement-bar__content span,
[data-page="about"] .announcement-bar__content span,
[data-page="about-dp-skin-health-collection"] .announcement-bar__content span,
[data-page="about-dp-minerals-colletion"] .announcement-bar__content span,
[data-page="about-dp-skin-science-collection"] .announcement-bar__content span,
[data-page="about-founder-douglas-pereira"] .announcement-bar__content span {
  color: #080808;
}
[data-page="about"] .header__outer-wrapper,
[data-page="about-dp-skin-health-collection"] .header__outer-wrapper,
[data-page="about-dp-minerals-colletion"] .header__outer-wrapper,
[data-page="about-dp-skin-science-collection"] .header__outer-wrapper,
[data-page="about-founder-douglas-pereira"] .header__outer-wrapper {
  position: static !important;
}
/*[data-page="about"] .header__outer-wrapper,[data-page="about"] .announcement-bar{
 
}
[data-page="about"] .header__outer-wrapper{
  display:none !important;
}
[data-page="about"] .announcement-bar{
 display:none;

}*/
/*** end header ***/

/**** banner slider ***/
.banner-slider {
  position: relative;
}
.banner-slider-swiper {
  height: 100%;
}
.banner-slider-swiper video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-slider-swiper .video-banner-bg{
  height: 100%;
}
.banner-slider .container {
}
.banner-slider__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-slider img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 980px;
  object-fit: cover;
}
.banner-slider .slide__wrap {
  height: 100%;
}
.banner-slider .bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.banner-slider__wrap {
  height: clamp(600px, 100dvh, 980px);
}
.banner-slider-content {
  max-width: clamp(300px, 33.021vw, 634px);
  color: #fff;
  position: relative;
  z-index: 1;
}
.banner-slider .swiper-pagination {
  position: static;
}
.banner-slider__wrap .text {
  margin: clamp(20px, 2.083vw, 40px) 0;
}
.banner-slider__wrap .text p {
  color: #fff;
}
.banner-slider .swiper-pagination__wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
.banner-slider .swiper-pagination {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 68px;
}
.banner-slider .swiper-pagination-bullet {
  background: #fefefe;
}
.swiper-pagination-body {
  position: relative;
}
.scroll-btn {
  position: absolute;
  left: 50%;
  top: -7px;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}
.scroll-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
.scroll-btn a {
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #fff;
}

/*** end banner slider ***/

/**** section-about ***/
.section-about {
  padding: clamp(50px, 6.25vw, 120px) 0;
}
.section-about .list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 2.27%;
}
.section-about .title-2 {
  text-align: center;
  max-width: 1190px;
  margin: 32px auto clamp(50px, 6.25vw, 120px) auto;
}
.section-about .item {
  width: 31.8%;
}
.section-about img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.section-about .item-img-body {
  position: relative;
  padding-top: 100%;
}
.section-about .item-content {
  padding: 24px clamp(20px, 3.906vw, 75px);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section-about .item-content .title {
  text-align: center;
}
.section-about .item-content .small-text {
  text-align: center;
  margin: 16px 0 27px 0;
}
.section-about .item__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-about .item-btn {
  margin-top: auto;
}
.section-about .item-content .a-btn {
  width: 100%;
}
@media (max-width: 767px) {
  .section-about .item {
    width: 48.8%;
  }
}
@media (max-width: 500px) {
  .section-about .item {
    width: 100%;
  }
}
.number span {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.number {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 20px;
}
.number:before {
  content: "";
  display: block;
  width: 48px;
  height: 1px;
  background: #fefefe;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*** end section-about ***/

/*** section tab hover ****/
.section-tab-hover .container {
  padding: 0;
}
.section-tab-hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.74);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.section-tab-hover {
  position: relative;
}
.section-tab-hover__wrap {
  position: relative;
  z-index: 2;
}
.section-tab-hover__wrap .big-title h2 {
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 90.2px */
  text-transform: uppercase;
  letter-spacing: 0;
}
.section-tab-hover__wrap .big-title {
  position: absolute;
  top: clamp(50px, 7.292vw, 140px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 0 clamp(20px, 4.167vw, 80px);
}
.section-tab-hover .bg-img-wrap {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.section-tab-hover .bg-img-body {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-tab-hover .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  max-height: 980px;
}
.section-tab-hover .bg-img.active {
  opacity: 1;
}
.section-tab-hover__wrap {
  height: 100dvh;
  max-height: 980px;
  min-height: 600px;
  position: relative;
  z-index: 1;
}
.section-tab-hover .tab-list {
  display: flex;
  height: 100%;
}
.section-tab-hover .tab-item {
  flex: 1;
  border-right: 1px solid #808080;
}
.section-tab-hover .tab-item:last-child {
  border-right: none;
}
.section-tab-hover .tab-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.section-tab-hover .tab-item .tab-item-content {
  opacity: 0;
}
.section-tab-hover .tab-item.active .tab-item-content {
  opacity: 1;
}
.section-tab-hover .title h3 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: var(--font-size-36);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: 0.25px;
}
.section-tab-hover .tab-item-content {
  padding: clamp(20px, 4.167vw, 80px);
}
.section-tab-hover .text {
  margin: 20px 0 40px 0;
}
.section-tab-hover .text p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Raleway;
  font-size: var(--font-size-23);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 32.2px */
  letter-spacing: 0.46px;
}

@media (max-width: 767px) {
  .section-tab-hover .tab-list {
    flex-direction: column;
  }
  .section-tab-hover .tab-item {
    flex: 1;
    border-right: none;
    border-bottom: 1px solid #808080;
  }
  .section-tab-hover__wrap .big-title {
    position: static;
    padding: 50px clamp(20px, 4.167vw, 80px);
    transform: translateX(0%);
  }
  .section-tab-hover__wrap {
    height: auto;
    max-height: 100%;
  }
  .section-tab-hover .bg-img {
    max-height: 100%;
  }
  .section-tab-hover .tab-item .tab-item-content {
    opacity: 1;
  }
  .section-tab-hover .bg-img-wrap {
    position: static;
  }
  .section-tab-hover .bg-img-body {
    padding-top: 100%;
  }
  .section-tab-hover {
    display: flex;
    flex-direction: column-reverse;
    background: #000;
  }
}
/*** end section tab hover ***/

/**** footer ***/
.footer__newsletter {
  width: 50%;
  max-width: 536px;
}
.footer__newsletter-wrap {
  /* padding: clamp(20px, 1.667vw, 32px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);*/
  /* max-width: 50%;*/
  width: 100%;
}
.footer__newsletter-wrap .text h1,
.footer__newsletter-wrap .text h2,
.footer__newsletter-wrap .text h3,
.footer__newsletter-wrap .text h4,
.footer__newsletter-wrap .text h5,
.footer__newsletter-wrap .text h6 {
  opacity: 0.8;
  color: #fefefe;
  /* body */
  font-family: Raleway;
  font-size: var(--font-size-20);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
  margin-bottom: clamp(20px, 2.083vw, 40px);
}
.footer__newsletter-wrap .text p {
  opacity: 0.8;
  color: #fefefe;
  /* body */
  font-family: Raleway;
  font-size: var(--font-size-18);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.36px;
  margin-bottom: clamp(20px, 2.083vw, 40px);
}
.footer__newsletter {
  width: 40%;
  margin-right: auto;
}
.footer-newsletter-form-wrap {
  /*border-bottom: 1px solid rgb(217, 217, 217, 0.5);
  border-top: 1px solid rgb(217, 217, 217, 0.5);
  padding: clamp(20px, 2.083vw, 40px) 0;*/
}

.footer-newsletter-form-wrap .title {
  margin-bottom: 14px;
}
.footer-newsletter-form-wrap .title h3 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: var(--font-size-34);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.footer-newsletter-form-wrap .text p {
  color: #fefefe;
  font-family: Raleway;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.28px;
  margin-bottom: 0;
}
.footer-newsletter-form-wrap .input__wrap {
  border: 1px solid var(--white, #fefefe);
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
.footer-newsletter-form-wrap .input__wrap input {
  height: 100%;
  width: 100%;
  display: block;
  padding: 19px;

  color: #fefefe;
  font-family: Raleway;
  font-size: var(--font-size-20);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}
.footer-newsletter-form-wrap .input__wrap input::placeholder {
  color: #ffffff8b;
  font-family: Raleway;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
}
.newsletter-form__button {
  /*text-align: right;
  font: normal normal normal 16px/21px Helvetica Neue !important;
  letter-spacing: 0px !important;*/
  color: #ffffff !important;
  opacity: 1 !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-size: 16px !important;
  line-height: 21px !important;
  font-family: "Helvetica Neue" !important;
}
.footer-newsletter-form-wrap .input__wrap input,
.footer-newsletter-form-wrap .input__wrap input:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}
.footer-newsletter-form-wrap .input__wrap button {
  border: none !important;
  outline: 0;
  box-shadow: none !important;

  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  right: 0;
  top: 0;
}
.custom__footer {
}

.footer__content {
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  /* height: clamp(571px, 32.708vw, 628px);*/
  gap: 16px;
  justify-content: space-between;
}
.footer__content .text {
  max-width: 500px;
}
.footer__content .links-item {
  width: max-content;
  min-width: 260px;
  /*flex-basis: 40%;*/
}
.footer__content .links-item.mb {
  margin-bottom: auto;
}
.box > * {
  flex: 1 1 100%;
}

.custom__footer li {
  list-style-type: none;
  /* Убираем маркеры */
}

.custom__footer ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.custom__footer .links__wrap .title h2 {
  color: #fff;
  font-family: Proxima Nova;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.88px;
  text-transform: uppercase;
}
.footer__links-list li:last-child {
  margin-bottom: 0;
}
.custom__footer .footer__links-item {
  margin-bottom: 18px;
}
.custom__footer .footer__links-item a {
  font-family: Proxima Nova;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}
.custom__footer .footer__links-item a:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.footer__wrap {
  padding: clamp(50px, 4.948vw, 95px) 0 42px 0;
}
.footer__wrap .text p {
  font-family: Proxima Nova;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  color: #fff;
}
.foooter__logo img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.foooter__logo {
  margin-bottom: clamp(50px, 4.167vw, 80px);
}
.newsletter-social {
  /*padding-top: 40px;*/
}
.newsletter-social svg {
  width: 24px;
  height: 24px;
}
.social__wrap .icon {
  display: flex;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social__wrap li {
  display: block;
  width: max-content;
  height: auto;
}
.social__wrap .social-icons {
  gap: 32px;
}
.footer__bottom {
  border-top: 1px solid rgba(217, 217, 217, 0.4);
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__bottom {
  display: block !important;
}
.footer__bottom .footer__bottom-links-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
}
.footer__bottom .footer__bottom-links-list a {
  color: #d9d9d9;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
}
.footer__bottom .footer__bottom-links-list a:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.footer {
  padding: 0;
}
.footer__bottom .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.footer__bottom .footer__credits {
  display: flex;
  padding: 0px;
}
.footer__bottom .left {
  width: auto;
}
.footer__bottom .footer__credits p {
  color: #d9d9d9;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.32px;
}
@media (max-width: 1350px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    gap: 40px 20px;
    justify-content: space-between;
  }
  .footer__newsletter {
    width: 100%;
  }
  .footer__content .links-item {
    width: max-content;
    flex-basis: auto;
  }
}

@media (max-width: 767px) {
  .footer__newsletter-wrap {
    max-width: 100%;
  }
  .footer__bottom .footer__credits {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__bottom .left {
    width: 100%;
  }
}

/*** end footer ***/

/**** product page ***/
.product-container {
  padding-top: 50px;
  padding-bottom: clamp(50px, 6.25vw, 120px);
}
.product-container .product {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.product-container .product .product__breadcrumbs {
  margin-top: 0;
}
.product-container .product__top {
  display: flex;
  justify-content: center;
  gap: 8.4%;
}
.product-container .product__media-container {
  width: 50.3%;
  /*max-width: 868px;*/
  max-width: 616px;
}
.product-container .product__details {
  /*max-width: 618px;*/
  max-width: 515px;
  width: 100%;
}
.product-container .product__meta {
  margin-left: 0;
  margin-top: 0;
}
.product-container .product__title {
  color: var(--black, #080808);
  font-family: Proxima Nova;
  font-size: var(--font-size-44);
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  margin-bottom: clamp(20px, 2.188vw, 42px);
}
.product-container .product__price,
.product-container .product__price span {
  color: #080808;
  font-family: Proxima Nova;
  font-size: var(--font-size-30);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: clamp(20px, 2.188vw, 42px);
}
.product-container .product__price span {
  margin-bottom: 0;
}
.product-container .product__description {
  margin-bottom: clamp(20px, 2.188vw, 42px);
}
.product-container .product__description p {
  font-family: Raleway;
  font-size: var(--font-size-20);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  letter-spacing: 0.4px;
  opacity: 0.8;
  margin-top: 20px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}
.product-container .product__description h4,
.product-container .product__description h4 > * {
  font-family: Proxima Nova;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.product-container .product__controls-group-quanity .product__label-wrapper {
  display: none;
}
.product-container .product__quantity {
  height: 46px;
  border-radius: 60px;
  border: 1px solid #080808;
  width: 156px;
  justify-content: space-between;
}
.product-container .product__quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px !important;
  font-size: 35px;
  height: auto;
  font-weight: 200;
  font-family: "Raleway";
}
.product-container .product__input--quantity {
  color: #080808;
  text-align: center;
  font-family: Proxima Nova;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product-container .product__policies {
  display: none;
}
.product-container .shopify-payment-button__more-options {
  display: none;
}
.product-container .product-form__item {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-form__cart-submit {
  display: flex !important;
  padding: 0;
  width: 100%;
  max-width: 245px;
  height: 55px;
  color: #080808;
  text-align: center;
  /* button */
  font-family: Proxima Nova !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.64px !important;
  text-transform: uppercase !important;
  border-radius: 32px !important;
  border: 1px solid #080808 !important;
}
.product-form__cart-submit span {
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
.shopify-payment-button {
  width: 100%;
  max-width: 245px;
}
.shopify-payment-button__button {
  margin-top: 0 !important;
  display: flex !important;
  padding: 0;
  width: 100%;
  max-width: 301px;
  height: 55px !important;
  color: #fff;
  text-align: center;
  /* button */
  background-color: #080808 !important;
  font-family: Proxima Nova !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: 0.64px !important;
  text-transform: uppercase !important;
  border-radius: 32px !important;
  border: 1px solid #080808 !important;
}
.kqsiVA9Jf8LJAbxw8Bau {
  background: #080808 !important;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0;
  margin: 0;
}
.breadcrumbs__current {
  opacity: 1;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.breadcrumbs__item a,
.breadcrumbs__item span {
  color: rgba(1, 1, 1, 0.6);
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.39px;
}
.breadcrumbs__icon {
  position: static;
  margin-left: 12px;
}
.product__breadcrumbs {
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .product-container .product__top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .product-container .product__media-container {
    width: 100%;
    max-width: 100%;
  }
  .product-container .product__details {
    max-width: 100%;
    width: 100%;
  }
}
/*** end product page ***/

/**** section scroll ***/
.section-scroll-slides {
  background: #151515;
}

.section-scroll-slides .title {
  margin-bottom: clamp(30px, 3.229vw, 62px);
  position: relative;
  height: 50px;
}
.section-scroll-slides .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: var(--font-size-62);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  position: absolute;
  top:0;
  left:0;
}
.section-scroll-slides .left {
  width: 40.3%;
}
.section-scroll-slides .right {
  width: 42.2%;
}
.section-scroll-slides .text p {
  color: #fefefe;
  font-family: Raleway;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}
.section-scroll-slides .section-scroll__wrap {
  padding: clamp(50px, 8.958vw, 172px) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.images__wrap::-webkit-scrollbar {
  width: 0;
}
.section-scroll-slides .images__wrap {
  max-width: 743px;
  max-height: clamp(0px, 36.302vw, 697px);
  pointer-events: none;
  overflow: scroll;
}
.section-scroll-slides .step-image {
  width: 100%;
  height: 100%;
}
.section-scroll-slides .images__wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 743px;
  max-height: 697px;
}
.section-scroll-slides {
  height: 100vh;
}
.panels {
  position: relative;
  height: 100vh;
}
.panel {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: #151515;
}
.contento {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.contento.active {
  max-height: 1000px; /* Укажите максимальную высоту, которую может достичь блок */
  transition: max-height 0.5s ease-in-out;
}
.section-scroll-slides .container {
  display: flex;
  height: 100%;
  align-items: center;
}
.section-scroll-slides .section-scroll__wrap {
  width: 100%;
}
.section-scroll__wrap .text__wrap {
  position: relative;
  padding-top: 50%;
}
.section-scroll__wrap .text__wrap .step {
  position: absolute;
  top: 0;
  left: 0;
}
.contento, .title-contento {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.contento.revealed, .title-contento.revealed {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.5s;
}





@media (max-width: 767px) {
  [data-name="product"] .pin-spacer {
    display: none !important;
  }
}
/*** end section scroll ****/

/**** mobile ****/
.mobile-metafields-product {
  background: #151515;
}
.mobile-metafields-product__wrap {
  padding: 50px 0;
}
.mobile-metafields-product__wrap .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: var(--font-size-62);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
}
.section-scroll-slides.mobile-metafields-product__wrap .title {
  margin-bottom: clamp(30px, 3.229vw, 62px);
}
.mobile-metafields-product__wrap .text p {
  color: #fefefe;
  font-family: Raleway;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}
.mobile-metafields-product__wrap .item__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.mobile-metafields-product__wrap .item__wrap .text {
  width: 49%;
}
.mobile-metafields-product__wrap .item__wrap .image {
  width: 49%;
}
.mobile-metafields-product__wrap .item__wrap .image img {
  display: block;
  width: 100%;
  height: 100%;
}
.mobile-metafields-product {
  display: none;
}
@media (max-width: 768px) {
  .mobile-metafields-product {
    display: block;
  }
}
@media (max-width: 600px) {
  .mobile-metafields-product__wrap .item__wrap {
    flex-wrap: wrap-reverse;
  }
  .mobile-metafields-product__wrap .item__wrap .text {
    width: 100%;
  }
  .mobile-metafields-product__wrap .item__wrap .image {
    width: 100%;
  }
}
/*** end mobile ***/

/**** cart ***/

.quick-cart__close svg path {
  stroke: #fff;
}
.quick-cart__cart svg path {
  stroke: #fff;
}
.quick-cart__cart.visible {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.quick-cart__cart {
  height: 100%;
}
.quick-cart__footer {
  margin-top: auto;
}
.quick-cart__items {
  max-height: 100%;
}

.ff-heading {
  font-family: Proxima Nova !important;
}
.login__links {
  display: flex;
  align-items: center;
}
/**** end cart ***/

/**** scroll about fade ***/
.scroll-about-fade {
  position: relative;
  background-color: #000;
  /* Apply overflow hidden to hide content outside the container */
  /*height: 100vh;*/
}
.wrap2 {
  position: relative;
}
.bg__all {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.bg__all-wrap {
  position: relative;
  height: 100vh;
}
.bg__all img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.5s ease;
}
.bg__all img.active {
  opacity: 1;
  transition: all 0.5s ease;
}
.special__section {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.scroll-about_wrap-body {
  width: 100%;
  position: relative; /* Позиционирование контейнера */
  display: flex;
  flex-direction: column; /* Содержимое будет вертикально выравниваться */
}

.scroll-about__wrap {
  /*overflow: hidden;*/
}

.special__section-1 {
}
.special__section-1 .title,
.special__section-1 .subtitle {
  max-width: 1200px;
}
.special__section-1 .text {
  max-width: 1200px;
}
.special__section-1 .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: clamp(28px, 3.229vw, 62px);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.special__section-1 .subtitle {
  margin-bottom: clamp(15px, 6.979vw, 134px);
}
.special__section-1 .subtitle p {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: clamp(18px, 1.667vw, 32px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.special__section-1 .text p {
  font-family: Raleway;
  font-size: clamp(16px, 0.833vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
.special__section-1 .text p {
  margin-bottom: clamp(10px, 1.667vw, 32px);
}
.special__section-1 .text p:last-child {
  margin-bottom: 0;
}
.special__section {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.special__section-2 {
  justify-content: center;
}
.special__section-2 .title {
  margin-bottom: clamp(20px, 3.229vw, 62px);
}
.special__section-2 .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: clamp(30px, 4.271vw, 82px);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
}
.special__section-2 .special__section-wrap .subtitle {
  display: flex;
  justify-content: center;
}
.special__section-2 .special__section-wrap .subtitle p {
  color: #fefefe;
  text-align: center;
  font-family: Raleway;
  font-size: clamp(18px, 1.771vw, 34px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 47.6px */
  letter-spacing: 0.68px;
  max-width: 1262px;
}

.special__section-3 .title {
  margin-bottom: clamp(20px, 4.167vw, 80px);
}
.special__section-3 .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: clamp(28px, 3.75vw, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 86.4px */
  text-transform: uppercase;
}
.special__section-3 .text p {
  max-width: 1000px;
  font-family: Raleway;
  font-size: clamp(16px, 0.833vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}
.special__section-1 ul,
.special__section-2 ul,
.special__section-3 ul,
.special__section-4 ul {
  padding-left: 22px;
}
.special__section-1 li,
.special__section-2 li,
.special__section-3 li,
.special__section-4 li {
  font-family: Raleway;
  font-size: clamp(16px, 0.833vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  padding-left: 0;
}
.special__section-btn {
  margin-top: clamp(20px, 4.167vw, 80px);
}
.special__section-4 .special__section-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.special__section-4 .title {
  max-width: calc(50% - 40px);
}
@media (max-width: 767px) {
  .special__section-4 .title {
    max-width: 100%;
  }
}
.special__section-4 {
  align-items: flex-start;
  padding-top: clamp(50px, 5.208vw, 100px);
  gap: 20px;
}
.special__section-4 .title {
}
.special__section-4 .title h2 {
  color: #fefefe;
  font-family: Proxima Nova;
  font-size: clamp(28px, 3.75vw, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 86.4px */
  text-transform: uppercase;
}
.special__section-4 .text {
  max-width: 696px;
}
.special__section-4 .text p {
  font-family: Raleway;
  font-size: clamp(16px, 0.833vw, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
  margin-bottom: clamp(10px, 1.667vw, 32px);
}
.special__section-4 .text p:last-child {
  margin-bottom: 0;
}
.special__section-4 .special__section-wrap {
  width: 100%;
}
@keyframes fade-in-animation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in-animation 0.5s ease-in-out;
}
/*** end scroll about fade ***/

.treatment-booking__wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.section-scroll__wrap .text h1,
.section-scroll__wrap .text h2,
.section-scroll__wrap .text h3,
.section-scroll__wrap .text h4,
.section-scroll__wrap .text h5,
.section-scroll__wrap .text h6 {
  font-family: Proxima Nova;
  color: #fefefe;
}
.section-scroll__wrap .text h1 {
  font-size: var(--font-size-36);
}
.section-scroll__wrap .text h2 {
  font-size: var(--font-size-34);
}
.section-scroll__wrap .text h3 {
  font-size: var(--font-size-32);
}
.section-scroll__wrap .text h4 {
  font-size: var(--font-size-28);
}
.section-scroll__wrap .text h5 {
  font-size: var(--font-size-26);
}
.section-scroll__wrap .text h6 {
  font-size: var(--font-size-24);
}
.product-item .placeholder-image svg {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}


/***** header *****/

/*.drawer-menu__primary-links li:not(.child-visible){
  display:block !important;
}
.drawer-menu__primary-links[data-depth="1"]{
  overflow: visible !important;
}
.drawer-menu__main{
  height: auto !important;
}
.drawer-menu__panel{
  max-width: 50%;
}
.drawer-menu__list--sub.visible{
  left:50%;
}
.drawer-menu__primary-links{
  visibility: visible !important;
}*/
/**** end header ****/

/**** section dots ***/ 


.shoppable-feature{
  padding:clamp(50px,5.208vw,100px) 0; 
}
.shoppable-feature__inner{
  max-width: 1920px !important;
}
/*** end section dots ****/


/**** section key active ****/
.key-active{
  padding:50px 0;
}
.key-active .text p{
  margin-bottom:10px;
  font-size: var(--font-size-20);
}
/*** end key active ****/

/***** section collection list  product ***/
.collection-categories{
  padding:50px;

}
.collection-categories .product__list{
  display:flex;
  flex-wrap:wrap;
  gap:60px 2%;
}
.collection-categories .product__list .product-item{
  width:23%;

}
.collection-categ__wrap{
  max-width:1280px;
  margin:0 auto;
}
.collection-categ__wrap .product-item__inner{
  height: 100%;
  display: flex;
  flex-direction: column;

}
.collection-categ__wrap .product-item__meta{
  flex:1;
}
.collection-categories .title {
  margin:0 0 30px 0;
}
.collection-categories .title h2{
  text-transform: uppercase;
}
.collection-categories .product-item__wrap{
  position: relative;
}
.collection-categories .product-item__wrap .product-item-bg{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}
.collection-categories .product-item__wrap{
  height: 100%;
  padding:clamp(20px,2.604vw,50px);
  min-height: clamp(300px,20.833vw,400px);
}
.collection-categories .product-item__wrap .product-item-bg img{
  width:100%;
  height: 100%;
  object-fit: cover;
}
.collection-categories .product-item__wrap .title{
  position: relative;
  z-index: 2;
}
.collection-categories .product-item__wrap .title h4{
  color: #FFF;
}
@media(max-width:959px){
  .collection-categories .product__list .product-item{
    width:48%;
  
  }
}
@media(max-width:500px){
  .collection-categories .product__list .product-item{
    width:100%;
  
  }
}
/*** end section collection list  product ***/


/****section-treatments-block ****/
.section-treatments-block{
  background: #F2F2F2 ;
}

.section-treatments-block .container{
  display: flex;
  flex-wrap:wrap;
  padding:0;

}
.section-treatments-block .left{
  width:50%;
  display:flex;
  align-items: center;
}
.section-treatments-block .left.hide{
  display: none;
}
.section-treatments-block .left .title{
  margin:0 0 30px 0;
}
.section-treatments-block .left__wrap{
  padding:clamp(50px,8.542vw,165px) clamp(20px,7.292vw,140px);
}
.section-treatments-block .right{
  width:50%;
}
.section-treatments-block .right.w100{
  width:100%;
}
.section-treatments-block .right.w100 img{
  max-height: 900px;
}
.section-treatments-block .right__wrap, .section-treatments-block .right__wrap .image{
  height: 100%;
}
.section-treatments-block  img{
  display:block;
  width:100%;
  height: 100%;
  object-fit: cover;
}
.section-treatments-block .treatments-btn{
  margin-top:50px;
}
@media (max-width:767px){
  .section-treatments-block .left{
    width:100%;
   
  }

  .section-treatments-block .right{
    width:100%;
  }
}
/**** end section-treatments-block ****/
.filter{
  width:max-content !important;
}
.blog__filters{
  position:relative;
  z-index: 2;
}

/***** my drawer menu ****/
/*.drawer-menu__main{
  height:auto !important;
}
.drawer-menu__primary-links li{
  display:block !important;
}
.drawer-menu__primary-links{
     visibility: visible !important;
}
.drawer-menu__list--sub{
  left:50% !important;
}*/
@media (max-width:767px){
  .my-drawer-menu{
    display:none !important;
  }
}
@media (min-width:768px){
  .my-drawer-menu{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
  }
  .my-drawer-menu ul{ 
    padding:0;
  }
  .my-drawer-menu ul li{ 
    list-style-type: none;
    margin-bottom:20px;
  }
  .my-drawer-menu__wrap{
    opacity:1;
    overflow:hidden;
    position:relative;
    width:100%;
    height:100%;
  }
  .my-drawer-menu__inner{
    max-width:800px;
    width:max-content;
    background:black;
    height:100%;
    margin:auto 0;
    position:relative;
    transform:translateX(-100%);
    display:flex;
    align-items:center;
    transition:all .5s ease;
    padding:50px 0px;
  }
  .my-drawer-menu__inner-body{
    overflow:auto;
  }
  .my-drawer-menu__inner.active{
    transform:translateX(0%);
    transition:all .5s ease;
  }
  .my-drawer-menu__list-first-level{
   
  }
  .my-drawer-menu__list-first-level ul{
    margin:0;
  }
  .my-overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
  }
  .menu-list{
    padding:0 50px;
  }
  .drawer-menu__close-wrapper{
    position:absolute;
    top:50px;
    right:50px;
  }
  .my-drawer-menu .drawer-menu__close-icon .icon-button{
    transform:translate(0px,0px) !important;
  }
  .my-drawer-menu  .icon{
    color:#FFF !important;
    line-height:0;
    margin-top:9px !important; 
  }
  .click-menu{
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
  }
  .my-drawer-menu__list-second-level ul{
    display:none;
  }
  .my-drawer-menu__list-second-level ul.active{
    display:block;
  }
  .no-scroll {
    overflow: hidden;
    /*position: fixed;*/
  }
  
  
  .drawer-menu{
    display:none !important;
  }
}

/**** end my drawer menu ****/